
.product-item{
    display: flex;
    align-items: flex-start;
}
.product-top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 24px;
}
.product-content{
    display: flex;
}
.product-img{
    width: 40px;
    height: 40px;
    margin-right: 8px;
}
.product-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-title{
    margin: 0;
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;
}

.product-count{
    width: 48px;
    height: 48px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    padding: 14px 14px 12px;
    text-align: center;
    background-color: #2D303E;
    border: 1px solid #393C49;
    border-radius: 8px;
    outline: none;
}

.product-price{
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    color: #ABBBC2;
}
.product-count:focus{
    border-color: #FF7CA3;
}

.product-price-count{
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: right;
    color: #FFFFFF;
}
.product-pay{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.product-input{
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #E0E6E9;;
    
    padding: 14px 96px 14px 14px;
    background-color: #2D303E;
    border: 1px solid #393C49;
    border-radius: 8px;
}

.product-input:focus{
   border-color: #FF7CA3;
}
.product-btn{
    outline: none;
    padding: 14px;
    border: 1px solid #FF7CA3;
    background-color: transparent;
    border-radius: 8px;
}