::-webkit-scrollbar {
  display: none;
}

.cite-bar{
  width: 105px;
  height: 100vh;
  padding-left: 12px ;
  background-color: #1F1D2B;
  overflow-y: scroll;
}

.nav__logo{
  display: block;
  padding: 24px 24px 26px 12px;
}

.nav__link{
  // width: 92px;
  // height: 80px;
  // background-color: #252836;
  border-radius: 12px 0px 0px 12px;
  padding: 12px 22px 12px 12px;
  display: block;
  margin-bottom: 22px;
}

.nav__link svg{
  fill: #EA7C69;
}

 .wrap__svg{
  // width: 56px;
  // height: 56px;
  display: block;
  padding: 18px 18px;
}

.active{
  display: block;
  padding: 12px 22px 12px 12px;
  border-radius: 12px 0px 0px 12px;
  background-color: #252836;
  margin-bottom: 22px;
  position: relative;
}

.active::before{
  content: "";
  width: 12px;
  height: 12px;
  background-image: url(../../assets/images/img/before.svg);
  position: absolute;
  top: -12px;
  right: 0px;
}

.active::after{
  content: "";
  width: 12px;
  height: 12px;
  background-image: url(../../assets/images/img/after.svg);
  position: absolute;
  bottom: -11px;
  right: 0px;
}

.active .wrap__svg{
  background: #EA7C69;
box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
border-radius: 8px;
}

.active svg{
 fill: #FFFFFF;
}






