.ordered{
    width: 372px;
    position: fixed;
    top: 24px;
    right: 24px;
}

.ordered-top{
    width: 100%;
    background-color: #1F1D2B;
    border-radius: 8px;
    padding: 24px;
}
.ordered-top__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #393C49;
}
.ordered-title{
    margin: 8.5px 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
}
.ordered-select{
    padding: 14px;
    width: 95px;
    height: 45px;
    background-color: #1F1D2B;
    border: 1px solid #393C49;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;
}

.ordered-list{
    width: 372px;
    list-style-type: none;
    margin: 0;
    padding: 24px 0;
}
.ordered-item{
    width: 324px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.ordered-item-img{
    width: 53.88px;
    height: 53.88px;
}
.item-content{
    margin-left: 16px;
}
.content-title{
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #E0E6E9;
}
.content-info{
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #ABBBC2;
}

.ordered-view{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 324px;
    padding: 14px;
    border: 1px solid #EA7C69;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #EA7C69;
    border-radius: 8px;
}

.ordered-bottom{
    margin-top: 24px;
}